@model E_Store.Domain.Entities.Product
<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("0.00 BYN")</span>
    </h3>
    <span class="lead">@Model.Description</span>
    <div class="pull-right">
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            @Html.HiddenFor(p => p.ProductId);
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery);
            <input type="submit" class="btn btn-success btn-sm"  value="Добавить в корзину"/>
        }
    </div>
    <h5><span class="pull-left label label-info">@Model.SubCategory.Name</span></h5>
</div>

