@model E_Store.WebUI.Models.CheckoutViewModel

@{
    ViewBag.Title = "Checkout";
}
@if (TempData["message"]!=null)
{
    <div class="alert alert-info">@TempData["message"]</div>
}
<h2>Оформление заказа</h2>
<p>Укажите Ваши контактные данные</p>
@using (Html.BeginForm())
{
    <h3>Ваши данные</h3>    
    <div class="form-group">
        <label>Ваше имя:</label>
        @Html.TextBoxFor(x=>x.Customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Ваш E-Mail:</label>
        @Html.TextBoxFor(x => x.Customer.Email, new { @class = "form-control" })
    </div>

    <h3>Данные для доставки</h3>
    <div class="form-group">
        <label>Адрес:</label>
        @Html.TextBoxFor(x => x.ShippingDetails.Street, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Город:</label>
        @Html.TextBoxFor(x => x.ShippingDetails.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Страна:</label>
        @Html.TextBoxFor(x => x.ShippingDetails.Country, new { @class = "form-control" })
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обработать заказ" />
    </div>


}

