@model IEnumerable<E_Store.Domain.Entities.Category>

@{
    ViewBag.Title = "ViewCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список  категорий товаров</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">ID</th>
                <th>Имя</th>
                <th>Описание</th>
                <th class="text-right">Подкатегории</th>
                <th class="text-center">Операции</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.Id</td>
                    <td>@Html.ActionLink(item.Name, "EditCategory", new { categoryId=item.Id })</td>
                    <td class="text-right">@item.Description</td>
                    <td class="text-right">
                        @Ajax.ActionLink("Подкатегории", "GetSubCategories", new { categoryId = item.Id }, new AjaxOptions { LoadingElementId="loader", UpdateTargetId = "modal-content", OnSuccess = "ShowExtendedInfoInModal()" }, new { @class = "btn btn-default btn-xs" })
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteCategory", "Admin"))
                        {
                            <input type="hidden" name="categoryId" value="@item.Id" />
                            <input type="submit" class="btn btn-default btn-xs" value="Удалить" />

                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить категорию", "CreateCategory", null, new { @class = "btn btn-default" })  
    </div>
</div>